In [1]:
import os
import pandas as pd

# Define the folder where the CSV files are located
folder_path = "D:/dataset/UPI/top50 banks/Beneficiary"  # Replace with your folder path

In [2]:
# Initialize an empty list to store DataFrames
dataframes = []

# Iterate through all files in the folder
for file_name in sorted(os.listdir(folder_path)):
    if file_name.endswith(".csv"):
        file_path = os.path.join(folder_path, file_name)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Extract year and month from the file name
        year = 2000 + int(file_name[-6:-4])  # Extract year from file name
        month = {
            'jan': 1, 'feb': 2, 'mar': 3, 'apr': 4, 'may': 5, 'jun': 6,
            'jul': 7, 'aug': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12
        }.get(file_name[:3].lower(), 0)  # Extract month from file name

        # Add year and month columns to the DataFrame
        df['Year'] = year
        df['Month'] = month

        # Append the DataFrame to the list
        dataframes.append(df)

In [3]:
# Combine all DataFrames into a single DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

combined_df.head()

,Sr.No.,UPI Beneficiary Banks,Total Volume (In Mn),Approved %,BD %\t,\tTD%,Deemed Approved %,Column 8,Year,Month
0,1,Paytm Payments Bank,1265.52,99.73%,0.27%,0.01%,0.00%,NaN,2022,4
1,2,Yes Bank Ltd,745.77,99.78%,0.05%,0.08%,0.09%,NaN,2022,4
2,3,State Bank Of India,741.10,98.05%,0.30%,1.22%,0.42%,NaN,2022,4
3,4,Axis Bank Ltd,408.62,98.28%,1.25%,0.06%,0.41%,NaN,2022,4
4,5,ICICI Bank,406.50,98.68%,0.42%,0.56%,0.34%,NaN,2022,4

In [4]:
# Reorder the columns to place 'Year' and 'Month' as the 3rd and 4th columns
columns = list(combined_df.columns)
columns.insert(2, columns.pop(columns.index('Year')))
columns.insert(3, columns.pop(columns.index('Month')))
combined_df = combined_df[columns]

combined_df.head()

,Sr.No.,UPI Beneficiary Banks,Year,Month,Total Volume (In Mn),Approved %,BD %\t,\tTD%,Deemed Approved %,Column 8
0,1,Paytm Payments Bank,2022,4,1265.52,99.73%,0.27%,0.01%,0.00%,NaN
1,2,Yes Bank Ltd,2022,4,745.77,99.78%,0.05%,0.08%,0.09%,NaN
2,3,State Bank Of India,2022,4,741.10,98.05%,0.30%,1.22%,0.42%,NaN
3,4,Axis Bank Ltd,2022,4,408.62,98.28%,1.25%,0.06%,0.41%,NaN
4,5,ICICI Bank,2022,4,406.50,98.68%,0.42%,0.56%,0.34%,NaN

In [5]:
# # Define the columns to check for numeric values
# numeric_columns = [
#     "Volume Customer(Mn)", "Value Customer (Cr)", "Volume B2C (Mn)",
#     "Value B2C (Cr)", "Volume B2B(Mn)", "Value B2B(Cr)",
#     "Volume (Mn)", "Value (Cr)"
# ]

# # Remove commas and convert to numeric, forcing invalid entries to NaN
# for col in numeric_columns:
#     combined_df[col] = pd.to_numeric(combined_df[col].replace({',': ''}, regex=True), errors='coerce')

# # Check for any invalid (NaN) values
# invalid_entries = combined_df[numeric_columns].isna().sum()
# print("Invalid entries in each column:\n", invalid_entries)

In [6]:
# Get all unique names in the 'Application Name' column
unique_applications = combined_df['UPI Beneficiary Banks'].unique()
unique_applications.sort()

for i in unique_applications:
    print(i)

AU small Finance Bank
Airtel Payments Bank
Airtel Payments Bank Ltd
Andhra Pradesh Grameena Vikas Bank
Andhra Pragathi Grameena Bank
Axis Bank
Axis Bank Ltd
Axis Bank Ltd.
Axis bank Ltd.
Bandhan Bank
Bandhan Bank Ltd.
Bandhan Bank limited
Bank Of India
Bank of Baroda
Bank of India
Bank of Maharashtra
Baroda Rajasthan Kshetriya Gramin Bank
Baroda UP Gramin Bank
Baroda Uttar Pradesh Gramin Bank
CITI
CITI Bank
CITI bank
CITIBANK
CITIBank
Canara Bank
Central Bank Of India
Central Bank of India
Citi Bank
Citibank
City Union Bank
Cosmos Bank
DBS Bank India Limited
DBS Bank India Ltd.
DBS Bank Ltd
ESAF Small Finance Bank Ltd.
Equitas Bank
Equitas Small Finance Bank
Equitas Small Finance Bank Ltd
Federal Bank
Federal Bank Ltd.
Fincare Small Finance Bank Ltd
Fino Payments Bank
Fino Payments Bank Limited
Fino Payments Bank Limited FIP
Fino Payments Bank Ltd.
HDFC BANK LTD
HDFC Bank
HDFC Bank Ltd
HDFC Bank Ltd.
HSBC Bank
ICICI Bank
ICICI Bank Ltd.
IDBI Bank
IDBI Bank Limited
IDBI Bank Ltd.
IDFC FIRST Bank
IDFC First Bank
IDFC First Bank Ltd
INDUSIND BANK
India Post Payment Bank
India Post Payments Bank Ltd
Indian Bank
Indian Overseas Bank
IndusInd Bank
IndusInd Bank Ltd.
Indusind Bank
Indusind Bank Ltd.
JIO PAYMENTS BANK LTD
Jammu and Kashmir Bank
Jio Payments Bank
KERALA GRAMIN BANK
Karnataka Bank
Karnataka Bank Ltd
Karnataka Gramin Bank (Erstwhile Pragathi Krishna Gramin Bank)
Karnataka Vikas Grameena Bank
Karur Vysya Bank
Kerala Gramin Bank
Kotak Mahindra Bank
Kotak Mahindra Bank Ltd
Maharashtra Gramin Bank
NSDL Payments Bank
NSDL Payments Bank Limited
ONE MOBIKWIK SYSTEMS LIMITED
One Mobikwik Systems Limited
One Mobikwik Systems Pvt - Ltd
Paytm Payments Bank
Pragathi Krishna Gramin Bank
Punjab National Bank
Punjab and Sind Bank
Punjab national Bank
RBL
RBL Bank
RBL Bank LTD
RBL Bank Limited
RBL Bank Ltd.
RBL bank
Rajasthan Marudhara Gramin Bank
SARVA HARYANA GRAMIN BANK
Saraswat Bank
Sarva Haryana Gramin Bank
Sarva UP Gramin Bank
South Indian Bank
Standard Chartered
State Bank Of India
State Bank of India
Tamilnad Mercantile Bank
Tamilnad Mercantile Bank Limited
The Cosmos Co-Operative Bank Ltd
The Jammu & Kashmir Bank Limited
The South Indian Bank Limited
Tri O Tech Solutions Private Limited
Tri O Tech Solutions Private Limited PPI
Tri O Tech Solutions Private Ltd.
UCO Bank
Ujjivan Small Finance Bank
Union Bank Of India
Union Bank of India
YES Bank - Amazon pay
Yes Bank Ltd
Yes Bank Ltd.

In [7]:
bank_names = [
[["Airtel Payments Bank"],["Airtel Payments Bank Ltd"]],
[["Axis Bank"],["Axis Bank Ltd","Axis Bank Ltd.","Axis bank Ltd."]],
[["Bandhan Bank"],["Bandhan Bank Ltd.","Bandhan Bank limited"]],
[["Bank of India"],["Bank Of India"]],
[["CITI Bank"],["CITI","CITI bank","CITIBANK","CITIBank","Citi Bank","Citibank"]],
[["Central Bank of India"],["Central Bank Of India"]],
[["DBS Bank"],["DBS Bank India Limited","DBS Bank India Ltd."]],
[["Equitas Bank"],["Equitas Small Finance Bank","Equitas Small Finance Bank Ltd"]],
[["Federal Bank"],["Federal Bank Ltd."]],
[["Fino Payments Bank"],["Fino Payments Bank Limited","Fino Payments Bank Limited FIP","Fino Payments Bank Ltd."]],
[["HDFC Bank"],["HDFC BANK LTD","HDFC Bank Ltd","HDFC Bank Ltd."]],
[["ICICI Bank"],["ICICI Bank Ltd."]],
[["IDBI Bank"],["IDBI Bank Limited","IDBI Bank Ltd."]],
[["IDFC First Bank"],["IDFC FIRST Bank","IDFC First Bank Ltd"]],
[["India Post Payment Bank"],["India Post Payments Bank Ltd"]],
[["IndusInd Bank"],["INDUSIND BANK","IndusInd Bank Ltd.","Indusind Bank","Indusind Bank Ltd."]],
[["Jio Payments Bank"],["JIO PAYMENTS BANK LTD"]],
[["Karnataka Bank"],["Karnataka Bank Ltd"]],
[["Kerala Gramin Bank"],["KERALA GRAMIN BANK"]],
[["Kotak Mahindra Bank"],["Kotak Mahindra Bank Ltd"]],
[["NSDL Payments Bank"],["NSDL Payments Bank Limited"]],
[["One Mobikwik Systems Limited"],["ONE MOBIKWIK SYSTEMS LIMITED","One Mobikwik Systems Pvt - Ltd"]],
[["Punjab National Bank"],["Punjab national Bank"]],
[["RBL"],["RBL Bank","RBL Bank LTD","RBL Bank Limited","RBL Bank Ltd.","RBL bank"]],
[["Sarva Haryana Gramin Bank"],["SARVA HARYANA GRAMIN BANK"]],
[["State Bank of India"],["State Bank Of India"]],
[["Tamilnad Mercantile Bank"],["Tamilnad Mercantile Bank Limited"]],
[["Tri O Tech Solutions Private Limited"],["Tri O Tech Solutions Private Limited PPI","Tri O Tech Solutions Private Ltd."]],
[["Union Bank of India"],["Union Bank Of India"]],
[["YES Bank"],["YES Bank - Amazon pay","Yes Bank Ltd","Yes Bank Ltd."]],
]

len(bank_names)

30

In [9]:
for app in bank_names:
    new_name = app[0][0]
    for replace in app[1]:
        old_name = replace
        combined_df['UPI Beneficiary Banks'] = combined_df['UPI Beneficiary Banks'].replace(old_name, new_name)
        print(f"Replaced '{old_name}' with '{new_name}'")

Replaced 'Airtel Payments Bank Ltd' with 'Airtel Payments Bank'
Replaced 'Axis Bank Ltd' with 'Axis Bank'
Replaced 'Axis Bank Ltd.' with 'Axis Bank'
Replaced 'Axis bank Ltd.' with 'Axis Bank'
Replaced 'Bandhan Bank Ltd.' with 'Bandhan Bank'
Replaced 'Bandhan Bank limited' with 'Bandhan Bank'
Replaced 'Bank Of India' with 'Bank of India'
Replaced 'CITI' with 'CITI Bank'
Replaced 'CITI bank' with 'CITI Bank'
Replaced 'CITIBANK' with 'CITI Bank'
Replaced 'CITIBank' with 'CITI Bank'
Replaced 'Citi Bank' with 'CITI Bank'
Replaced 'Citibank' with 'CITI Bank'
Replaced 'Central Bank Of India' with 'Central Bank of India'
Replaced 'DBS Bank India Limited' with 'DBS Bank'
Replaced 'DBS Bank India Ltd.' with 'DBS Bank'
Replaced 'Equitas Small Finance Bank' with 'Equitas Bank'
Replaced 'Equitas Small Finance Bank Ltd' with 'Equitas Bank'
Replaced 'Federal Bank Ltd.' with 'Federal Bank'
Replaced 'Fino Payments Bank Limited' with 'Fino Payments Bank'
Replaced 'Fino Payments Bank Limited FIP' with 'Fino Payments Bank'
Replaced 'Fino Payments Bank Ltd.' with 'Fino Payments Bank'
Replaced 'HDFC BANK LTD' with 'HDFC Bank'
Replaced 'HDFC Bank Ltd' with 'HDFC Bank'
Replaced 'HDFC Bank Ltd.' with 'HDFC Bank'
Replaced 'ICICI Bank Ltd.' with 'ICICI Bank'
Replaced 'IDBI Bank Limited' with 'IDBI Bank'
Replaced 'IDBI Bank Ltd.' with 'IDBI Bank'
Replaced 'IDFC FIRST Bank' with 'IDFC First Bank'
Replaced 'IDFC First Bank Ltd' with 'IDFC First Bank'
Replaced 'India Post Payments Bank Ltd' with 'India Post Payment Bank'
Replaced 'INDUSIND BANK' with 'IndusInd Bank'
Replaced 'IndusInd Bank Ltd.' with 'IndusInd Bank'
Replaced 'Indusind Bank' with 'IndusInd Bank'
Replaced 'Indusind Bank Ltd.' with 'IndusInd Bank'
Replaced 'JIO PAYMENTS BANK LTD' with 'Jio Payments Bank'
Replaced 'Karnataka Bank Ltd' with 'Karnataka Bank'
Replaced 'KERALA GRAMIN BANK' with 'Kerala Gramin Bank'
Replaced 'Kotak Mahindra Bank Ltd' with 'Kotak Mahindra Bank'
Replaced 'NSDL Payments Bank Limited' with 'NSDL Payments Bank'
Replaced 'ONE MOBIKWIK SYSTEMS LIMITED' with 'One Mobikwik Systems Limited'
Replaced 'One Mobikwik Systems Pvt - Ltd' with 'One Mobikwik Systems Limited'
Replaced 'Punjab national Bank' with 'Punjab National Bank'
Replaced 'RBL Bank' with 'RBL'
Replaced 'RBL Bank LTD' with 'RBL'
Replaced 'RBL Bank Limited' with 'RBL'
Replaced 'RBL Bank Ltd.' with 'RBL'
Replaced 'RBL bank' with 'RBL'
Replaced 'SARVA HARYANA GRAMIN BANK' with 'Sarva Haryana Gramin Bank'
Replaced 'State Bank Of India' with 'State Bank of India'
Replaced 'Tamilnad Mercantile Bank Limited' with 'Tamilnad Mercantile Bank'
Replaced 'Tri O Tech Solutions Private Limited PPI' with 'Tri O Tech Solutions Private Limited'
Replaced 'Tri O Tech Solutions Private Ltd.' with 'Tri O Tech Solutions Private Limited'
Replaced 'Union Bank Of India' with 'Union Bank of India'
Replaced 'YES Bank - Amazon pay' with 'YES Bank'
Replaced 'Yes Bank Ltd' with 'YES Bank'
Replaced 'Yes Bank Ltd.' with 'YES Bank'

In [11]:
# Get all unique names in the 'Application Name' column
unique_applications = combined_df['UPI Beneficiary Banks'].unique()
unique_applications.sort()

for i in unique_applications:
    print(i)

AU small Finance Bank
Airtel Payments Bank
Andhra Pradesh Grameena Vikas Bank
Andhra Pragathi Grameena Bank
Axis Bank
Bandhan Bank
Bank of Baroda
Bank of India
Bank of Maharashtra
Baroda Rajasthan Kshetriya Gramin Bank
Baroda UP Gramin Bank
Baroda Uttar Pradesh Gramin Bank
CITI Bank
Canara Bank
Central Bank of India
City Union Bank
Cosmos Bank
DBS Bank
DBS Bank Ltd
ESAF Small Finance Bank Ltd.
Equitas Bank
Federal Bank
Fincare Small Finance Bank Ltd
Fino Payments Bank
HDFC Bank
HSBC Bank
ICICI Bank
IDBI Bank
IDFC First Bank
India Post Payment Bank
Indian Bank
Indian Overseas Bank
IndusInd Bank
Jammu and Kashmir Bank
Jio Payments Bank
Karnataka Bank
Karnataka Gramin Bank (Erstwhile Pragathi Krishna Gramin Bank)
Karnataka Vikas Grameena Bank
Karur Vysya Bank
Kerala Gramin Bank
Kotak Mahindra Bank
Maharashtra Gramin Bank
NSDL Payments Bank
One Mobikwik Systems Limited
Paytm Payments Bank
Pragathi Krishna Gramin Bank
Punjab National Bank
Punjab and Sind Bank
RBL
Rajasthan Marudhara Gramin Bank
Saraswat Bank
Sarva Haryana Gramin Bank
Sarva UP Gramin Bank
South Indian Bank
Standard Chartered
State Bank of India
Tamilnad Mercantile Bank
The Cosmos Co-Operative Bank Ltd
The Jammu & Kashmir Bank Limited
The South Indian Bank Limited
Tri O Tech Solutions Private Limited
UCO Bank
Ujjivan Small Finance Bank
Union Bank of India
YES Bank

In [12]:
combined_df.head()

,Sr.No.,UPI Beneficiary Banks,Year,Month,Total Volume (In Mn),Approved %,BD %\t,\tTD%,Deemed Approved %,Column 8
0,1,Paytm Payments Bank,2022,4,1265.52,99.73%,0.27%,0.01%,0.00%,NaN
1,2,YES Bank,2022,4,745.77,99.78%,0.05%,0.08%,0.09%,NaN
2,3,State Bank of India,2022,4,741.10,98.05%,0.30%,1.22%,0.42%,NaN
3,4,Axis Bank,2022,4,408.62,98.28%,1.25%,0.06%,0.41%,NaN
4,5,ICICI Bank,2022,4,406.50,98.68%,0.42%,0.56%,0.34%,NaN

In [13]:
# Save the combined DataFrame to a new CSV file
output_file = "D:/dataset/UPI/top50 banks/Beneficiary/combined_Beneficiary_data.csv"
combined_df.to_csv(output_file, index=False)
# Drop the first column of the DataFrame
combined_df = combined_df.iloc[:, 1:]

print(f"Combined CSV file saved as: {output_file}")

Combined CSV file saved as: D:/dataset/UPI/top50 banks/Beneficiary/combined_Beneficiary_data.csv